.payment-page{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.payment-wrap{
    width: fit-content;
    min-width: 500px;
    width: 100%;
    @include respondto(xs, sm){
        min-width: unset;
        width: 90%;
    }
    max-width: 800px;
    height: fit-content;
    & .payment-block{
        display: flex;
        min-height: 400px;
        background: white;
        @include respondto(xs, sm) {
            flex-direction: column;
        }
        box-shadow: -5px 7px 20px 2px rgba(34, 60, 80, 0.38);
        & .amount-block{
            padding: 40px 20px;
            flex: 2;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            @include respondto(xs, sm){
                border-left: unset;
                border-top: 3px dotted #c9c9c9;
            }
            border-left: 3px dotted #c9c9c9;
            & .amount-label{
                text-transform: uppercase;
                color: #999999;
                font-weight: bold;
                font-size: 24px;
                line-height: 24px;
            }
            & .amount-amount{
                font-weight: bold;
                font-size: 30px;
                line-height: 30px;
                & span{
                    font-size: 24px;
                    line-height: 24px;
                }
            }
        }
        & .product-block{
            flex: 4;
            padding: 40px 20px;
            display: flex;
            & div:first-child{
                color: #999999;
                font-size: 24px;
                line-height: 24px;
                & span{
                    color: black;
                }
            }
        }
    }

}
